/* fonts */
h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: #0089D1;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-weight: bolder;
}

nav a {
  color: #949191;
}

.textMark {
  font-weight: bold;
  color: #58A4EF;
}
@media (max-width: 768px){
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px){
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1rem;
  }
}

/* fonts end */
/* fixed area */
.fixedBtnRow {
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 99;
}
@media (max-width: 768px){
  .fixedBtnRow {
    display: none;
  }
}

.fastBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.fastBtn img {
  width: 60%;
  display: inline-block;
}

.backToTop {
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toTop {
  transform: rotate(-90deg);
  width: 60%;
}

/* fixed area end */
/* nav */
nav {
  width: 100%;
  border-top: 4px solid #02AFB7;
  border-bottom: 3px solid rgba(182, 174, 174, 0.699);
}

nav .container {
  margin: 20px auto;
}

.nav-selector a:not(:last-child)::after {
  content: ' | ';
  display: inline-block;
  width: 20px;
}

.navIcon {
  width: 25px;
  height: 25px;
  margin-left: 8px;
}

/* nav end */
.hero-section {
  width: 100%;
  height: 454px;
  background: url(./img/pexels-pixabay-373076.jpg);
  background-size: cover;
  padding: 15vw;
}
@media (max-width: 768px) {
  .hero-section {
    height: 300px;
  }
}
.heroBtn {
  width: 200px;
  height: 55px;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
}

.androidBtn {
  width: 100%;
  height: 100%;
  background-image: url(./img/android-2.svg);
  background-size: cover;
  background-position: center;
}
.iosBtn {
  width: 100%;
  height: 100%;
  background-image: url(./img/available-on-the-app-store.svg);
  background-size: cover;
  background-position: center;

}
@media (max-width: 576px) {
  .heroBtn {
    width: 50px;
    height: 50px;
  }
  .androidBtn {
    background-image: url(./img/google-play.svg);
  }
  .iosBtn {
    background-image: url(./img/apple.svg);
  }
}

.mainBtnRow {
  /* background-color: #ccc; */
  margin-top: -50px;
  display: flex;
  justify-content: center;
}

.mainBtn {
  width: 320px;
  height: 94px;
  border-radius: 40px;
  background-image: linear-gradient(to bottom, #f8fafc, #d3efff);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.mainBtnIcon {
  box-sizing: content-box;
  width: 50px;
  height: 50px;
  margin: 25px;
  padding-right: 25px;
  border-right: 3px dotted gray;
}
@media (max-width: 992px) {
  .mainBtn{
    width: 200px;
    height: 94px;
  }
  .mainBtnIcon {
    width: 40px;
    height: 40px;
    box-sizing: content-box;
    border-right: none;
    padding: 0;
    margin: 10px;
  }
}
@media (max-width: 768px) {
  .mainBtn{
    width: 80px;
    height: 80px;
    margin: 0 15px;
  }
  .mainBtnIcon {
    width: 40px;
    height: 40px;
    box-sizing: content-box;
    border-right: none;
    padding: 0;
    margin: 10px;
  }
  .mainBtnText {
    display: none;
  }
}
@media (max-width: 576px) {
  .mainBtn{
    width: 80px;
    height: 80px;
    margin: 0 5px;
  }
  .mainBtnIcon {
    width: 40px;
    height: 40px;
    box-sizing: content-box;
    border-right: none;
    padding: 0;
    margin: 10px;
  }
  .mainBtnText {
    display: none;
  }
}

.line {
  border: 1px solid gray;
  width: 50px;
  margin: 30px auto;
}

.container {
  text-align: center;
}

.eventCard {
  margin: 50px 0;
  /* height: 230px; */
  border: 2px solid rgba(202, 202, 202, 0.445);
  border-radius: 20px;
  overflow: hidden;
}
.eventImg {
  overflow: hidden;
  padding: 0;
}
.cover {
  height: 100%; 
  width: 100%; 
  object-fit: cover;
}

.eventInfo {
  background-color: #ECF8FF;
  padding: 20px 60px;
}
@media (max-width: 768px){
  #ev2-info {
    order:2;
  }
  #ev2-img {
    order:1;
  }
}

.notes ol {
  margin: 0 60px;
  display: inline-block;
  text-align: start;
}
@media (max-width: 768px) {
  .notes ol {
    margin: 0 20px;
  }
}
@media (max-width: 576px) {
  .notes ol {
    margin: 0 10px;
  }
}

.notes-version {
  text-align: end;
}

footer {
  width: 100%;
  background-color: #7C7C7C;
  padding: 20px;
  text-align: center;
  color: white;
}

.footer-links {
  width: fit-content;
  margin: 0 auto;
}

.footer-links small:not(:last-child)::after {
  content: ' | ';
  display: inline-block;
  width: 20px;
}

@media (max-width: 768px){
  .footer-links small:not(:last-child)::after {
    content: '';
  }
}